<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<activeProfiles>
		<activeProfile>default</activeProfile>
	</activeProfiles>
	
<profiles>

    <profile>
      <id>default</id>
      <activation>

        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>

      <user.java.64.home>JAVA_HOME64</user.java.64.home>
      <user.java.32.home>JAVA_HOME32</user.java.32.home>
   
   	   <user.win64.java.include>/shared-host-folder/java-win64/include/win32</user.win64.java.include>
	   <user.mingw.64.gcc>x86_64-w64-mingw32-gcc</user.mingw.64.gcc>

      <user.mingw.32.gcc>i586-mingw32msvc-gcc</user.mingw.32.gcc>
      
      <user.win64.additional.ld.flags>-L/shared-host-folder/java-win64/lib/</user.win64.additional.ld.flags>
      <user.win32.additional.ld.flags>-L/shared-host-folder/java-win32/lib/</user.win32.additional.ld.flags>
      
      

			</properties>
	
		</profile>

</profiles>


</settings>
